.header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px 0 0 30px;
  &__title{
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
  }
  &__link{
    position: absolute;
    left: 30px;
  }
}