.main-nav{
  background: #000;
  color: #fff;
  position: fixed;
  left: -100%;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  opacity: 0;
  &.is-shown{
    opacity: 1;
    left: 0;
    z-index: 9999;
  }
  .close{
    position: fixed;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.nav-menu{
  text-align: center;
  padding-bottom: 40px;
  &__list{
    font-family: 'Majesti banner book';
    font-size: 56px;
    font-style: normal;
    line-height: 64px;
    letter-spacing: -1px;
  }
}