.button-menu{
  background-color: #000;
  width: 72px;
  height: 72px;
  border-radius: 72px;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 30px;
  margin: 0 auto;
  display: flex;
  font-size: 0;
  &:after{
    content: '';
    background: url("#{$assets_path}/icons/icon-hamburger.svg") no-repeat center center;
    display: block;
    height: 72px;
    width: 72px;
  }
  &--close{
    height: 48px;
    width: 48px;
    background-color: transparent;
    font-size: 0;
    &:after{
      content: '';
      background: url("#{$assets_path}/icons/icon-close.svg") no-repeat center center;
      display: block;
      height: 30px;
      width: 30px;
      margin: 0 auto;
    }
  }
}