//Majesti

@font-face {
  font-family: 'Majesti banner bold';
  src: url('#{$assets_path}/fonts/majesti/majesti-banner-bold.woff2') format('woff2'),
  url('#{$assets_path}/fonts/majesti/majesti-banner-bold.woff') format('woff'),
  url('#{$assets_path}/fonts/majesti/majesti-banner-bold.ttf') format('truetype'),
  url('#{$assets_path}/fonts/majesti/majesti-banner-bold.svg#majesti bannerbold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Majesti banner book';
  src: url('#{$assets_path}/fonts/majesti/majesti-banner-book.woff2') format('woff2'),
  url('#{$assets_path}/fonts/majesti/majesti-banner-book.woff') format('woff'),
  url('#{$assets_path}/fonts/majesti/majesti-banner-book.ttf') format('truetype'),
  url('#{$assets_path}/fonts/majesti/majesti-banner-book.svg#majesti bannerbook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Majesti banner heavy';
  src: url('#{$assets_path}/fonts/majesti/majesti-banner-heavy.woff2') format('woff2'),
  url('#{$assets_path}/fonts/majesti/majesti-banner-heavy.woff') format('woff'),
  url('#{$assets_path}/fonts/majesti/majesti-banner-heavy.ttf') format('truetype'),
  url('#{$assets_path}/fonts/majesti/majesti-banner-heavy.svg#majesti bannerheavy') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Majesti banner light';
  src: url('#{$assets_path}/fonts/majesti/majesti-banner-light.woff2') format('woff2'),
  url('#{$assets_path}/fonts/majesti/majesti-banner-light.woff') format('woff'),
  url('#{$assets_path}/fonts/majesti/majesti-banner-light.ttf') format('truetype'),
  url('#{$assets_path}/fonts/majesti/majesti-banner-light.svg#majesti bannerlight') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Majesti banner medium';
  src: url('#{$assets_path}/fonts/majesti/majesti-banner-medium.woff2') format('woff2'),
  url('#{$assets_path}/fonts/majesti/majesti-banner-medium.woff') format('woff'),
  url('#{$assets_path}/fonts/majesti/majesti-banner-medium.ttf') format('truetype'),
  url('#{$assets_path}/fonts/majesti/majesti-banner-medium.svg#majesti bannermedium') format('svg');
  font-weight: normal;
  font-style: normal;
}


//Gotham

@font-face {
  font-family: "Gotham Xlight";
  src: url("#{$assets_path}/fonts/gotham/gothamssm-xlight.eot");
  src: url("#{$assets_path}/fonts/gotham/gothamssm-xlight.eot?#iefix") format("embedded-opentype"), url("#{$assets_path}/fonts/gotham/gothamssm-xlight.woff2") format("woff2"), url("#{$assets_path}/fonts/gotham/gothamssm-xlight.woff") format("woff"), url("#{$assets_path}/fonts/gotham/gothamssm-xlight.ttf") format("truetype"), url("#{$assets_path}/fonts/gotham/gothamssm-xlight.svg#Gotham") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Light";
  src: url("#{$assets_path}/fonts/gotham/gothamssm-light.eot");
  src: url("#{$assets_path}/fonts/gotham/gothamssm-light.eot?#iefix") format("embedded-opentype"), url("#{$assets_path}/fonts/gotham/gothamssm-light.woff2") format("woff2"), url("#{$assets_path}/fonts/gotham/gothamssm-light.woff") format("woff"), url("#{$assets_path}/fonts/gotham/gothamssm-light.ttf") format("truetype"), url("#{$assets_path}/fonts/gotham/gothamssm-light.svg#Gotham Light") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Book";
  src: url("#{$assets_path}/fonts/gotham/gothamssm-book.eot");
  src: url("#{$assets_path}/fonts/gotham/gothamssm-book.eot?#iefix") format("embedded-opentype"), url("#{$assets_path}/fonts/gotham/gothamssm-book.woff2") format("woff2"), url("#{$assets_path}/fonts/gotham/gothamssm-book.woff") format("woff"), url("#{$assets_path}/fonts/gotham/gothamssm-book.ttf") format("truetype"), url("#{$assets_path}/fonts/gotham/gothamssm-book.svg#Gotham Book") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Medium";
  src: url("#{$assets_path}/fonts/gotham/gothamssm-medium.eot");
  src: url("#{$assets_path}/fonts/gotham/gothamssm-medium.eot?#iefix") format("embedded-opentype"), url("#{$assets_path}/fonts/gotham/gothamssm-medium.woff2") format("woff2"), url("#{$assets_path}/fonts/gotham/gothamssm-medium.woff") format("woff"), url("#{$assets_path}/fonts/gotham/gothamssm-medium.ttf") format("truetype"), url("#{$assets_path}/fonts/gotham/gothamssm-medium.svg#Gotham") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Bold";
  src: url("#{$assets_path}/fonts/gotham/gothamssm-bold.eot");
  src: url("#{$assets_path}/fonts/gotham/gothamssm-bold.eot?#iefix") format("embedded-opentype"), url("#{$assets_path}/fonts/gotham/gothamssm-bold.woff2") format("woff2"), url("#{$assets_path}/fonts/gotham/gothamssm-bold.woff") format("woff"), url("#{$assets_path}/fonts/gotham/gothamssm-bold.ttf") format("truetype"), url("#{$assets_path}/fonts/gotham/gothamssm-bold.svg#Gotham Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Black";
  src: url("#{$assets_path}/fonts/gotham/gothamssm-black.eot");
  src: url("#{$assets_path}/fonts/gotham/gothamssm-black.eot?#iefix") format("embedded-opentype"), url("#{$assets_path}/fonts/gotham/gothamssm-black.woff2") format("woff2"), url("#{$assets_path}/fonts/gotham/gothamssm-black.woff") format("woff"), url("#{$assets_path}/fonts/gotham/gothamssm-black.ttf") format("truetype"), url("#{$assets_path}/fonts/gotham/gothamssm-black.svg#Gotham") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Light Italic";
  src: url("#{$assets_path}/fonts/gotham/gothamssm-lightitalic.eot");
  src: url("#{$assets_path}/fonts/gotham/gothamssm-lightitalic.eot?#iefix") format("embedded-opentype"), url("#{$assets_path}/fonts/gotham/gothamssm-lightitalic.woff2") format("woff2"), url("#{$assets_path}/fonts/gotham/gothamssm-lightitalic.woff") format("woff"), url("#{$assets_path}/fonts/gotham/gothamssm-lightitalic.ttf") format("truetype"), url("#{$assets_path}/fonts/gotham/gothamssm-lightitalic.svg#Gotham") format("svg");
  font-style: normal;
}
@font-face {
  font-family: "Gotham Medium Italic";
  src: url("#{$assets_path}/fonts/gotham/gothamssm-mediumitalic.eot");
  src: url("#{$assets_path}/fonts/gotham/gothamssm-mediumitalic.eot?#iefix") format("embedded-opentype"), url("#{$assets_path}/fonts/gotham/gothamssm-mediumitalic.woff2") format("woff2"), url("#{$assets_path}/fonts/gotham/gothamssm-mediumitalic.woff") format("woff"), url("#{$assets_path}/fonts/gotham/gothamssm-mediumitalic.ttf") format("truetype"), url("#{$assets_path}/fonts/gotham/gothamssm-mediumitalic.svg#Gotham") format("svg");
  font-style: normal;
}