//General
body{
  font-family: $font-body;
}
a{
  color: inherit;
  text-decoration: none;
}

//Headings
h1,h2,h3,h4,h5,h6{
  font-family: $font-heading;
}

//Forms
button{
  border: 0;
  appearance: none;
  cursor: pointer;
  outline: none;
}