.link-back{
  width: 48px;
  height: 48px;
  background: #fff;
  font-size: 0;
  border-radius: 48px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  &:before{
    content: '';
    background: url("../../assets/icons/icon-arrow-black.svg") no-repeat center center;
    display: block;
    width: 48px;
    height: 48px;
  }
}