.box{
  position: relative;
  &__title-wrap{
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -1px;
    position: absolute;
    left: 30px;
    right: 30px;
    top: 0;
    bottom: 0;
    text-align: center;
    a{
      color: #000;
      text-decoration: none;
    }
  }
  &__title{
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
  }
  &__bgImg{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}